

<h2>Komponenten</h2>

<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let component"> {{component.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let component"> {{component.name}} </td>
    </ng-container>

    <ng-container matColumnDef="part_number">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nummer </th>
      <td mat-cell *matCellDef="let component"> {{component.part_number}} </td>
    </ng-container>

    <ng-container matColumnDef="number">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nummer </th>
      <td mat-cell *matCellDef="let component"> {{component.number}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let component; columns: displayedColumns;"
        [routerLink]="[component.id]">
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>

    <button mat-flat-button color="primary" (click)="openDialog()">Kategorie hinzufügen</button>

   <button mat-flat-button color="primary" (click)="openCompDialog()">Komponenten hinzufügen</button>

    <button mat-flat-button color="primary" (click)="openStorageDialog()">Lager hinzufügen</button>

